div class="page-header"
  - if @top50_machine.name.present? and @top50_machine.name.length > 0
    h2 = @top50_machine.name
  
  - if current_user and current_user.may_edit_top50?
    - val = Top50ValidType.find_by(id: @top50_machine.is_valid)
    h4 = "(Статус: " + (val.present? ? val.name : "Отсутствует")+ ")"
    = link_to "Редактировать", [:edit, @top50_machine], class: "btn btn-default"
    = link_to "К объекту", @top50_machine.top50_object, class: "btn btn-default"
    br

  h2 =  "Сведения о системе:"
        
- if @top50_machine.name.present? and @top50_machine.name.length > 0
  p
    strong = "Название: "
    = @top50_machine.name


- if @top50_machine.top50_machine_type.present?
  p
    strong = "Тип системы: "
    = @top50_machine.top50_machine_type.name
        
- if @top50_machine.website.present? and @top50_machine.website.length > 0
  p
    strong = "Веб-сайт: "
    = link_to nil, ext_url(@top50_machine.website)
    
- top50_org = @top50_machine.top50_organization
- if top50_org.present?
  p
    strong = "Место установки: "
    = top50_org.name
    - top50_parent_org_rel = (Top50Relation.all.joins(:top50_relation_type).merge(Top50RelationType.where(name_eng: "Contains"))).find_by(sec_obj_id: top50_org.id)
    - if top50_parent_org_rel.present?
      - top50_parent_org = Top50Organization.find_by(id: top50_parent_org_rel.prim_obj_id)
      - if top50_parent_org.present?
        = ","
        br
        = top50_parent_org.name
        

- if @top50_machine.installation_date.present?
  p
    strong = "Год установки: "
    = @top50_machine.installation_date.year
- elsif @top50_machine.start_date.present?
  p
    strong = "Год установки: "
    = @top50_machine.start_date.year

p
  strong = "Разработчики: "
  - @top50_machine.vendor_ids.each_with_index do |v_id, i|
    - if i > 0
      =", "
    - vendor = Top50Vendor.find(v_id)
    = vendor.name
  br
    
- top50_nodes = @top50_machine.top50_object.top50_relations.joins(:top50_relation_type).merge(Top50RelationType.where(name_eng: "Contains"))
- cpucnt = 0
- gpucnt = 0
- copcnt = 0
- corecnt_cpu = 0
- corecnt_gpu = 0
- corecnt_cop = 0
- gpucorecnt = 0
- copcorecnt = 0
- top50_nodes.each do |top50_node| 
  - top50_cpus = (top50_node.top50_object.top50_relations.joins(:top50_relation_type).merge(Top50RelationType.where(name_eng: "Contains"))).joins(:top50_object).merge(@cpu_objects)
  - top50_acc = (top50_node.top50_object.top50_relations.joins(:top50_relation_type).merge(Top50RelationType.where(name_eng: "Contains"))).joins(:top50_object).merge(@acc_objects).first
  - top50_gpus = (top50_node.top50_object.top50_relations.joins(:top50_relation_type).merge(Top50RelationType.where(name_eng: "Contains"))).joins(:top50_object).merge(@gpu_objects)
  - top50_cops = (top50_node.top50_object.top50_relations.joins(:top50_relation_type).merge(Top50RelationType.where(name_eng: "Contains"))).joins(:top50_object).merge(@cop_objects)
  - top50_cpus.each do |top50_cpu|
    - t = top50_cpu.sec_obj_qty * top50_node.sec_obj_qty
    - cpucnt += t
    - cores = @core_qty_attr_vals.find_by(obj_id: top50_cpu.top50_object)
    - if cores.present?
      - corecnt_cpu += t * cores.value.to_i
  - top50_gpus.each do |top50_gpu|
    - t = top50_gpu.sec_obj_qty * top50_node.sec_obj_qty
    - gpucnt += t
    - cores = @core_qty_attr_vals.find_by(obj_id: top50_gpu.top50_object)
    - microcores = @microcore_qty_attr_vals.find_by(obj_id: top50_gpu.top50_object)
    - if cores.present?
      - corecnt_gpu += t * cores.value.to_i
    - if microcores.present?
      - gpucorecnt += t * microcores.value.to_i
  - top50_cops.each do |top50_cop|
    - t = top50_cop.sec_obj_qty * top50_node.sec_obj_qty
    - copcnt += t
    - cores = @core_qty_attr_vals.find_by(obj_id: top50_cop.top50_object)
    - microcores = @microcore_qty_attr_vals.find_by(obj_id: top50_cop.top50_object)
    - if cores.present?
      - corecnt_cop += t * cores.value.to_i
    - if microcores.present?
      - copcorecnt += t * microcores.value.to_i
- cpu_qty_val = @cpu_qty_attr_vals.find_by(obj_id: @top50_machine.id)
- core_qty_val = @core_qty_attr_vals.find_by(obj_id: @top50_machine.id)
- nodcnt = top50_nodes.sum(:sec_obj_qty)

- if nodcnt > 0
  p
    strong = "Количество узлов: "
    = nodcnt
    
- if cpucnt > 0
  p
    strong = "Количество CPU: "
    = cpucnt
- elsif cpu_qty_val.present?
  p
    strong = "Количество CPU: "
    = cpu_qty_val.value.to_i

- if corecnt_cpu > 0
  p style="text-indent:20px;"
    strong = "Количество ядер CPU: "
    = corecnt_cpu
    
- if gpucnt > 0
  p
    strong = "Количество GPU-ускорителей: "
    = gpucnt
    
- if corecnt_gpu > 0
  p style="text-indent:20px;"
    strong = "Количество мультипроцессорных блоков GPU: "
    = corecnt_gpu

- if gpucorecnt > 0
  p style="text-indent:20px;"
    strong = "Количество GPU-ядер/CUDA-ядер: "
    = gpucorecnt

- if copcnt > 0
  p
    strong = "Количество сопроцессоров: "
    = copcnt
    
- if corecnt_cop > 0
  p style="text-indent:20px;"
    strong = "Количество ядер сопроцессоров: "
    = corecnt_cop

- if copcorecnt > 0
  p style="text-indent:20px;"
    strong = "Количество микроядер сопроцессоров: "
    = copcorecnt

- if corecnt_cpu + corecnt_gpu + corecnt_cop > 0
  p
    strong = "Всего ядер: "
    = corecnt_cpu + corecnt_gpu + corecnt_cop
- elsif core_qty_val.present?
  p
    strong = "Всего ядер: "
    = core_qty_val.value.to_i

p
  strong = "Архитектура: "
  br
    - top50_nodes.each do |top50_node| 
      - top50_cpus = (top50_node.top50_object.top50_relations.joins(:top50_relation_type).merge(Top50RelationType.where(name_eng: "Contains"))).joins(:top50_object).merge(@cpu_objects)
      - top50_gpus = (top50_node.top50_object.top50_relations.joins(:top50_relation_type).merge(Top50RelationType.where(name_eng: "Contains"))).joins(:top50_object).merge(@gpu_objects)
      - top50_cops = (top50_node.top50_object.top50_relations.joins(:top50_relation_type).merge(Top50RelationType.where(name_eng: "Contains"))).joins(:top50_object).merge(@cop_objects)
      - if top50_node.sec_obj_qty > 0
        - node_platform_wlist = []
        - node_platform_vendor = @node_platform_vendor_attr_vals.find_by(obj_id: top50_node.top50_object)
        - if node_platform_vendor.present?
          - node_platform_wlist.append(node_platform_vendor.top50_dictionary_elem.name)
        - node_platform = @node_platform_attr_vals.find_by(obj_id: top50_node.top50_object)
        - if node_platform.present?
          - node_platform_wlist.append(node_platform.top50_dictionary_elem.name)
        - if not node_platform_wlist.empty?
           = "узлы #{node_platform_wlist.join(' ')}: #{top50_node.sec_obj_qty} "
        - else
          = "узлов: #{top50_node.sec_obj_qty} "
      = "["
      - top50_cpus.each_with_index do |top50_cpu, i|
        - if i > 0
          = ", "
        - if top50_cpu.sec_obj_qty > 0 
          = "#{top50_cpu.sec_obj_qty}x "
        - cpu_vendor = @cpu_vendor_attr_vals.find_by(obj_id: top50_cpu.top50_object)
        - if cpu_vendor.present?
          = cpu_vendor.top50_dictionary_elem.name
          = " "
        = link_to @cpu_model_attr_vals.find_by(obj_id: top50_cpu.top50_object).top50_dictionary_elem.name, top50_objects_show_info_path(top50_cpu.top50_object)
      - ram_size_val = @ram_size_attr_vals.find_by(obj_id: top50_node.top50_object)
      - if ram_size_val.present? and ram_size_val.value.to_f > 0
          - if top50_cpus.any?
            = ", "
          = "#{number_with_precision(@ram_size_attr_vals.find_by(obj_id: top50_node.top50_object).value.to_f, precision: 3, strip_insignificant_zeros: true)} GB RAM"
      - if top50_gpus.any? or top50_cops.any?
        = "; "
        = "Acc: "
        - i = 0
        - top50_gpus.each do |top50_gpu|
          - if i > 0
            = ", "
          - i += 1
          - if top50_gpu.sec_obj_qty > 0
            = "#{top50_gpu.sec_obj_qty}x "
          - gpu_vendor = @gpu_vendor_attr_vals.find_by(obj_id: top50_gpu.top50_object)
          - if gpu_vendor.present?
            = gpu_vendor.top50_dictionary_elem.name
            = " "                  
          = link_to @gpu_model_attr_vals.find_by(obj_id: top50_gpu.top50_object).top50_dictionary_elem.name, top50_objects_show_info_path(top50_gpu.top50_object)
        - top50_cops.each do |top50_cop|
          - if i > 0
            = ", "
          - i += 1
          - if top50_cop.sec_obj_qty > 0 
            = "#{top50_cop.sec_obj_qty}x "
          - cop_vendor = @cop_vendor_attr_vals.find_by(obj_id: top50_cop.top50_object)
          - if cop_vendor.present?
            = cop_vendor.top50_dictionary_elem.name
            = " "                  
          = link_to @cop_model_attr_vals.find_by(obj_id: top50_cop.top50_object).top50_dictionary_elem.name, top50_objects_show_info_path(top50_cop.top50_object)
      = "]"    
      br              

br
- excl_attr_list = ["Number of CPUs", "Number of cores"]
- top50_obj = @top50_machine.top50_object
- top50_obj.top50_attribute_val_dbvals.each do |top50_attribute_val|
  - if not excl_attr_list.include?(top50_attribute_val.top50_attribute_dbval.top50_attribute.name_eng)
    p
      - if @perf_measured_attrs.include?(top50_attribute_val.attr_id)
        - mu = Top50MeasureUnit.find(@perf_measureid)
        - sc = mu.top50_measure_scales.where("scale < ?", top50_attribute_val.value.to_f).order(scale: :desc).first
        - if not sc.present?
          - sc = mu.top50_measure_scales.order(:scale).first
        strong = top50_attribute_val.top50_attribute_dbval.top50_attribute.name.gsub!(mu.name, sc.name)
        strong = ": "
        = top50_attribute_val.value.to_f / sc.scale
      - else
        strong = top50_attribute_val.top50_attribute_dbval.top50_attribute.name
        strong = ": "
        = top50_attribute_val.value

- top50_obj.top50_attribute_val_dicts.each do |top50_attribute_val|
  p
    strong = top50_attribute_val.top50_attribute_dict.top50_attribute.name
    strong = ": "
    = top50_attribute_val.top50_dictionary_elem.name

br
p
  strong = "Linpack:"
  - rmax = @rmax_res.find_by(machine_id: @top50_machine.id)
  br
  strong = "Результат (Rmax): "
  - sc = rmax.top50_benchmark.top50_measure_unit.top50_measure_scales.where("scale < ?", rmax.result).order(scale: :desc).first
  - if not sc.present?
    - sc = rmax.top50_benchmark.top50_measure_unit.top50_measure_scales.order(:scale).first
  = rmax.result / sc.scale
  = " "
  = sc.name
  br
  - top50_obj = rmax.top50_object
  - top50_obj.top50_attribute_val_dbvals.each do |top50_attribute_val|
      strong = top50_attribute_val.top50_attribute_dbval.top50_attribute.name
      strong = ": "
      = top50_attribute_val.value
      br
br

strong = "Позиции в редакциях Top50:"
br
br
- l_chart_data = []
- l_dates = []
table class="table fit"
  tr
    th class="fit"
      = "Редакция"
    th class="fit"
      = "Позиция"        
    th class="fit"
      = "Сертификат (PDF)"
  - @top50_incl.each do |top50_res|
    tr
      td class="fit"
        - list_num = @list_nums.find_by(obj_id: top50_res.benchmark_id)
        - date_val = @date_vals.find_by(obj_id: top50_res.benchmark_id)
        - list_year = date_val.value.split(".")[2]
        - list_month = date_val.value.split(".")[1]
        - cert_path = nil
        - if list_num.present?
          = link_to "#{list_num.value}-я (#{date_val.value})", get_archive_path(list_year, list_month)
          - l_chart_data << [Date.parse(date_val.value), top50_res.result.to_i]
          - l_dates << Date.parse(date_val.value).to_time.to_i * 1000
          - cert_path = format("public/cert_create/certificates/rev%d_%02d.pdf", list_num.value, top50_res.result.to_i)
        td class="fit" align="right"
          = link_to top50_res.result.to_i, top50_machines_show_path(top50_res.machine_id)
        td class="fit" align="right"
          - if File.exist?(cert_path)
            = link_to "Download", download_certificate_path(:path => cert_path), class: "btn btn-sm btn-default", download: "Certificate"
          - else
            = "-"
        
  tr
    = line_chart l_chart_data, adapter: "highcharts", :curve => false, :colors => ["orange"], :library => {yAxis: {reversed: true, minTickInterval: 1},     xAxis: {type: "datetime", tickPositions: l_dates, labels: {format: "{value:%b '%y}"}}}, :min => 1
  br
br
br
br
- if @extratings_entries.any?
  h3 Позиция vs Дата публикации
  canvas#heatmapDate width="800" height="400"
  br
  br
  br
  
  - if @histogram_data.any?
    h3 Доля производительности системы от общей производительности TOP50 по редакциям
    canvas#histogramChart width="800" height="400"
    br
    br
    br
  strong Позиции в мировых рейтингах суперкомпьютеров
  = " "
  = link_to "Скачать таблицы (CSV)", export_extratings_csv_top50_machine_path(@top50_machine), class: "btn btn-success btn-sm", style: "margin-left: 10px;"
  br
  br

  - grouped_by_list = @extratings_entries.group_by { |e| e.extratings_edition.extratings_list }

  - grouped_by_list.each do |list, entries|
    h4 = list.name_ru
    table.table.fit
      tr
        th.fit Рейтинг
        th.fit Позиция
        th.fit Редакция
        th.fit Месяц публикации редакции
        th.fit Метрики производительности
        - if current_user and current_user.may_edit_top50?
          th.fit
      - entries.each do |entry|
        tr id="entry-#{entry.id}"
          td.fit align="left"
            = link_to entry.extratings_edition.extratings_list.name_ru, entry.extratings_edition.extratings_list.url, title: entry.extratings_edition.extratings_list.description_ru, target: "_blank", rel: "noopener"
          td.fit align="right" title=(@scores_by_entry_id[entry.id] || "Нет рейтинга") = entry.position
          td.fit align="right" = entry.extratings_edition.edition_number
          td.fit align="right" = entry.extratings_edition.publication_date
          td.fit align="left" = @scores_by_entry_id[entry.id] || "Нет рейтинга"
          - if current_user and current_user.may_edit_top50?
            td.fit align="center"
              = link_to "Редактировать", edit_extratings_entry_path(entry, format: :js), class: "btn btn-default btn-sm", remote: true, data: { turbo: false, target: "#entryEditModal", toggle: "modal" }
              = " "
              = link_to "Удалить", extratings_entry_path(entry), method: :delete, class: "btn btn-danger btn-sm", remote: true, data: { turbo: false, confirm: "Вы уверены, что хотите удалить эту запись?" }

  br

- if @extratings_entries.any?
  javascript:
    const heatmapScoreGroups = #{raw @grouped_heatmap_score_points.to_json};
    const heatmapDateGroups = #{raw @grouped_heatmap_date_points.to_json};
    const histogramData = #{raw @histogram_data.to_json};

    function buildHeatmapByDate(ctxId, groups) {
      const ctx = document.getElementById(ctxId).getContext('2d');

      const datasets = groups.map(group => ({
        label: group.name,
        data: group.data.map(d => ({x: d.x, y: d.y})),
        backgroundColor: group.color,
        borderColor: group.color,
        pointRadius: 4,
        pointHoverRadius: 8
      }));

      new Chart(ctx, {
        type: 'line',
        data: { datasets },
        options: {
          parsing: false,
          responsive: true,
          plugins: {
            legend: {
              display: true,
              labels: {
                usePointStyle: true
              }
            },
            tooltip: {
              callbacks: {
                label: ctx => {
                  const point = ctx.raw;
                  const group = groups.find(g => g.name === ctx.dataset.label);
                  const item = group.data.find(d => d.x === point.x && d.y === point.y);
                  return item?.tooltip || `Позиция: ${point.y}, Дата: ${new Date(point.x).toLocaleDateString()}`;
                }
              }
            }
          },
          scales: {
            x: {
              type: 'time',
              time: {
                unit: 'month',
                displayFormats: { month: 'MMM yyyy' }
              },
              title: { display: true, text: 'Дата публикации' }
            },
            y: {
              reverse: true,
              beginAtZero: false,
              title: { display: true, text: 'Позиция в рейтинге' }
            }
          }
        }
      });
    }
    function buildHeatmapByScore(ctxId, groups) {
      const ctx = document.getElementById(ctxId).getContext('2d');

      const datasets = groups.map(group => ({
        label: group.name,
        data: group.data.map(d => ({x: d.x, y: d.y})),
        backgroundColor: group.color,
        borderColor: group.color,
        pointRadius: 4,
        pointHoverRadius: 8
      }));

      new Chart(ctx, {
        type: 'line',
        data: { datasets },
        options: {
          parsing: false,
          responsive: true,
          plugins: {
            legend: {
              display: true,
              labels: {
                usePointStyle: true
              }
            },
            tooltip: {
              callbacks: {
                label: ctx => {
                  const point = ctx.raw;
                  const group = groups.find(g => g.name === ctx.dataset.label);
                  const item = group.data.find(d => d.x === point.x && d.y === point.y);
                  return item?.tooltip || `Позиция: ${point.y}, Score: ${point.x}`;
                }
              }
            }
          },
          scales: {
            x: {
              type: 'linear',
              title: { display: true, text: 'Score (priority=1)' }
            },
            y: {
              reverse: true,
              beginAtZero: false,
              title: { display: true, text: 'Позиция в рейтинге' }
            }
          }
        }
      });
    }

    function buildHistogram(ctxId, data) {
      const ctx = document.getElementById(ctxId).getContext('2d');
      const labels = data.map(item => `TOP50 #${item.edition_number} (${item.date})`);
      const rmaxFromRmaxPercentages = data.map(item => item.rmax_from_rmax_percentage);
      const rpeakFromRpeakPercentages = data.map(item => item.rpeak_from_rpeak_percentage);
      
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: 'Доля достигнутой производительности системы (Rmax) от общей достигнутой производительности TOP50 (%)',
            data: rmaxFromRmaxPercentages,
            backgroundColor: 'rgba(54, 162, 235, 0.6)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1,
            barThickness: 25,
            maxBarThickness: 35
          }, {
            label: 'Доля пиковой производительности системы (Rpeak) от общей пиковой производительности TOP50 (%)',
            data: rpeakFromRpeakPercentages,
            backgroundColor: 'rgba(255, 99, 132, 0.6)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1,
            barThickness: 25,
            maxBarThickness: 35
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              display: true,
              position: 'top'
            },
            tooltip: {
              callbacks: {
                label: function(context) {
                  const dataIndex = context.dataIndex;
                  const item = data[dataIndex];
                  const datasetLabel = context.dataset.label;
                  
                  if (datasetLabel.includes('Rmax')) {
                    return [
                      `Доля Rmax: ${item.rmax_from_rmax_percentage}%`,
                      `Rmax системы: ${(item.our_rmax / 1000000).toFixed(2)} TFlop/s`,
                      `Суммарный Rmax TOP50: ${(item.total_rmax / 1000000).toFixed(2)} TFlop/s`
                    ];
                  } else {
                    return [
                      `Доля Rpeak: ${item.rpeak_from_rpeak_percentage}%`,
                      `Rpeak системы: ${(item.our_rpeak / 1000000).toFixed(2)} TFlop/s`,
                      `Суммарный Rpeak TOP50: ${(item.total_rpeak / 1000000).toFixed(2)} TFlop/s`
                    ];
                  }
                }
              }
            }
          },
          scales: {
            y: {
              beginAtZero: true,
              title: {
                display: true,
                text: 'Процент (%)'
              }
            },
            x: {
              title: {
                display: true,
                text: 'Редакция рейтинга TOP50'
              },
              ticks: {
                maxRotation: 45,
                minRotation: 45
              }
            }
          }
        }
      });
    }

    document.addEventListener('DOMContentLoaded', () => {
      // Добавляем CSRF токен для AJAX запросов
      const token = document.querySelector('meta[name="csrf-token"]');
      if (token) {
        $.ajaxSetup({
          beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRF-Token', token.getAttribute('content'));
          }
        });
      }
      
      buildHeatmapByDate('heatmapDate', heatmapDateGroups);
      
      // Строим гистограмму, если есть данные
      if (histogramData && histogramData.length > 0) {
        buildHistogram('histogramChart', histogramData);
      }
      
      $(document).on('ajax:success', 'a[data-target="#entryEditModal"]', function(event, data, status, xhr) {
        console.log('Форма загружена, данные:', data);
        $('#entryEditModal .modal-content').html(data);
        $('#entryEditModal').modal('show');
      });
      
      $(document).on('ajax:error', 'a[data-target="#entryEditModal"]', function(event, xhr, status, error) {
        console.error('Ошибка загрузки формы редактирования:', error);
        alert('Ошибка загрузки формы редактирования');
      });
    });

/ Modal container for AJAX edit forms
div#entryEditModal.modal.fade tabindex="-1" role="dialog"
  .modal-dialog.modal-lg role="document"
    .modal-content
