div class="page-header"
  h1 Даты анонса и первого появления компонент в рейтинге

p Здесь можно задать или изменить дату анонса и дату первого появления в рейтинге компонент систем (CPU, GPU, сопроцессоры).

div class="panel panel-default"
  div class="panel-heading"
    h4 Выберите тип компоненты, для которой необходимо добавить/изменить даты анонса или первого появления
  div class="panel-body"
    p В списке объектов используйте кнопку «Изменить даты» для нужной компоненты.
    ul
      - @component_types.each do |otype|
        li
          = link_to otype.name, top50_object_by_tp_path(otype.id)
