head
  title Количественные характеристики
  style
    | .cell-fill { stroke-width: 0.5; }
    | .heatmap-wrapper { position: relative; display: inline-block; }
    | .heatmap-footer { position: absolute; bottom: 15px; right: 20px; }
body
  .container-fluid
    .menu-container
      table.mb-3 style="border: none;"
        tr style="border: none; vertical-align: middle;"
          td style="border: none; padding-right: 24px; vertical-align: top;"
            table style="border: none;"
              tr style="border: none; vertical-align: middle;"
                td style="border: none; padding-right: 8px; white-space: nowrap; font-weight: bold;" Метрика:
                td style="border: none;"
                  select#component-graph-selector.form-control style="width: 230px;"
                    option value="cpu" selected="selected" Количество CPU
                    option value="gpu" Количество GPU
                    option value="freshest" Количество самых свежих компонент
                    option value="cores" Количество ядер CPU
                    option value="gpu_cores" Количество ядер GPU
                    option value="gpu_microcores" Количество микроядер GPU
              tr style="border: none; vertical-align: middle;"
                td style="border: none; padding-right: 8px; white-space: nowrap; font-weight: bold; padding-top: 6px;" Шкала:
                td style="border: none; padding-top: 6px;"
                  select#scale-selector-component.form-control style="width: 230px;"
                    option value="quantile" selected="selected" По квантилям
                    option value="linear" Равные интервалы
                    option value="fixed" Равные интервалы (0–max)
                    option value="log" log интервалы
                    option value="gradient_linear" Градиент (lin)
                    option value="gradient" Градиент (log)
                    option value="gradient_sqrt" Градиент (sqrt)
          td style="border: none; vertical-align: top;"
            table style="border: none;"
              tr style="border: none; vertical-align: middle;"
                td style="border: none; padding-right: 8px; white-space: nowrap; font-weight: bold;" Редакции:
                td style="border: none; padding-right: 4px;"
                  select#component-edition-start.form-control style="width: 120px;"
                    - (@edition_dates_component || []).each_with_index do |label, i|
                      option value=(i + 1) selected=(i == 0) = label
                td style="border: none; padding-right: 12px;"
                  select#component-edition-end.form-control style="width: 120px;"
                    - (@edition_dates_component || []).each_with_index do |label, i|
                      option value=(i + 1) selected=(i == (@edition_dates_component.size - 1)) = label
                td style="border: none; padding-right: 8px; white-space: nowrap; font-weight: bold;" Агрегация:
                td style="border: none;"
                  select#metric-selector-component.form-control style="width: 120px;"
                    option value="total" selected="selected" Всего
                    option value="per_node" На узел
              tr style="border: none; vertical-align: middle;"
                td style="border: none; padding-right: 8px; white-space: nowrap; font-weight: bold; padding-top: 6px;" Позиции:
                td style="border: none; padding-right: 4px; padding-top: 6px;"
                  select#component-rank-start.form-control style="width: 120px;"
                    - (1..(@max_rank || 50)).each do |i|
                      option value=i selected=(i == 1) = i
                td style="border: none; padding-top: 6px;"
                  select#component-rank-end.form-control style="width: 120px;"
                    - (1..(@max_rank || 50)).each do |i|
                      option value=i selected=(i == (@max_rank || 50)) = i

  div.heatmap-section#component-graph-cpu
    h2 Тепловая карта количества CPU
    div.heatmap-wrapper
      #cpu_component_heatmap
      div.heatmap-footer
        a.button style="background: #6699CC;" id="download_cpu_component" download="CPU_component.csv" Скачать CSV

  div.heatmap-section#component-graph-gpu
    h2 Тепловая карта количества GPU
    div.heatmap-wrapper
      #gpu_component_heatmap
      div.heatmap-footer
        a.button style="background: #6699CC;" id="download_gpu_component" download="GPU_component.csv" Скачать CSV

  div.heatmap-section#component-graph-freshest
    h2 Тепловая карта количества самых свежих компонент
    div style="margin-bottom: 0.5em;"
      input#freshest-include-gpu type="checkbox" checked="checked"
      label for="freshest-include-gpu" Учитывать GPU
    div.heatmap-wrapper
      #freshest_component_heatmap
      div.heatmap-footer
        a.button style="background: #6699CC;" id="download_freshest_component" download="Freshest_component.csv" Скачать CSV

  div.heatmap-section#component-graph-cores
    h2 Тепловая карта количества ядер CPU
    div.heatmap-wrapper
      #cores_component_heatmap
      div.heatmap-footer
        a.button style="background: #6699CC;" id="download_cores_component" download="Cores_component.csv" Скачать CSV

  div.heatmap-section#component-graph-gpu-cores
    h2 Тепловая карта количества ядер GPU
    div.heatmap-wrapper
      #gpu_cores_component_heatmap
      div.heatmap-footer
        a.button style="background: #6699CC;" id="download_gpu_cores_component" download="GPU_cores_component.csv" Скачать CSV

  div.heatmap-section#component-graph-gpu-microcores
    h2 Тепловая карта количества микроядер (CUDA-ядер) GPU 
    div.heatmap-wrapper
      #gpu_microcores_only_component_heatmap
      div.heatmap-footer
        a.button style="background: #6699CC;" id="download_gpu_microcores_only_component" download="GPU_microcores_component.csv" Скачать CSV

  script
    | const cpuTotalData = #{raw @cpu_total_data.to_json};
    | const cpuPerNodeData = #{raw @cpu_per_node_data.to_json};
    | const gpuTotalData = #{raw @gpu_total_data.to_json};
    | const gpuPerNodeData = #{raw @gpu_per_node_data.to_json};
    | const freshestTotalData = #{raw @freshest_total_data.to_json};
    | const freshestPerNodeData = #{raw @freshest_per_node_data.to_json};
    | const freshestTotalDataCpuOnly = #{raw (@freshest_total_data_cpu_only || []).to_json};
    | const freshestPerNodeDataCpuOnly = #{raw (@freshest_per_node_data_cpu_only || []).to_json};
    | const coresTotalData = #{raw @cores_total_data.to_json};
    | const coresPerNodeData = #{raw @cores_per_node_data.to_json};
    | const gpuCoresTotalData = #{raw (@gpu_cores_total_data || []).to_json};
    | const gpuCoresPerNodeData = #{raw (@gpu_cores_per_node_data || []).to_json};
    | const gpuMicrocoresOnlyTotalData = #{raw (@gpu_microcores_only_total_data || []).to_json};
    | const gpuMicrocoresOnlyPerNodeData = #{raw (@gpu_microcores_only_per_node_data || []).to_json};
    | const editionDatesComponent = #{raw (@edition_dates_component || []).to_json};
